@model VirtualAquariumManager.Models.MaintenanceTask

@{
    ViewData["Title"] = "Details";
}

<div class="form-container">
    <div class="card-header">
        <h2>Maintenance task details</h2>
    </div>

    <div class="form-grid-3">
        <dl>
            <dt>@Html.DisplayNameFor(m => m.Type)</dt>
            <dd>@Html.DisplayFor(m => m.Type)</dd>
        </dl>
        <dl>
            <dt>@Html.DisplayNameFor(m => m.PerformedOn)</dt>
            <dd>@Html.DisplayFor(m => m.PerformedOn)</dd>
        </dl>
        <dl>
            <dt>@Html.DisplayNameFor(m => m.DueDate)</dt>
            <dd>@Html.DisplayFor(m => m.DueDate)</dd>
        </dl>
        <dl>
            <dt>@Html.DisplayNameFor(m => m.IsCompleted)</dt>
            <dd>@Html.DisplayFor(m => m.IsCompleted)</dd>
        </dl>

        <div class="form-actions grid-full">
            <a asp-action="Edit" asp-route-id="@Model?.Id" asp-route-TankId="@Model?.TankId" class="btn btn-blue">Edit</a>
            <a asp-action="Index" asp-route-TankId="@Model?.TankId" class="btn btn-black">Go Back</a>
        </div>
    </div>
</div>