@model VirtualAquariumManager.Models.Fish

@{
    ViewData["Title"] = "Details";
}

<div class="form-container">
    <div class="card-header">
        <h2>Fish details</h2>
    </div>

    <div class="form-grid-3">
        <dl>
            <dt>@Html.DisplayNameFor(fish => fish.Name)</dt>
            <dd>@Html.DisplayFor(fish => fish.Name)</dd>
        </dl>
        <dl>
            <dt>@Html.DisplayNameFor(fish => fish.SubSpecies)</dt>
            <dd>@Html.DisplayFor(fish => fish.SubSpecies)</dd>
        </dl>
        <dl>
            <dt>@Html.DisplayNameFor(twq => twq.Species)</dt>
            <dd>@Html.DisplayFor(twq => twq.Species)</dd>
        </dl>
        <dl>
            <dt>@Html.DisplayNameFor(fish => fish.LifeSpan)</dt>
            <dd>@Html.DisplayFor(fish => fish.LifeSpan)</dd>
        </dl>

        <div class="form-actions grid-full">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-blue">Edit</a>
            <a asp-action="Index" class="btn btn-red">Cancel</a>
        </div>
    </div>
</div>
